@page "/photos/all"

<PageTitle>All Photos</PageTitle>

<h3>AllPhotos</h3>

@if (photos == null)
{
    <p>...Loading...</p>
}
else
{
    @foreach (var photo in photos)
    {
<article>
    <p>@photo.Id</p>
    <p>@photo.Title</p>
    <p>@photo.Description</p>
</article>
    }
}

@code {
    List<Photo>? photos;

    protected override void OnInitialized()
    {
        photos = new List<Photo>{
            new Photo { Id = 1, Title = "My Title", Description = "Lorem ipsum dolor sit amen" },
            new Photo { Id = 2, Title = "Another Title", Description = "All work and no play makes Jack a dull boy" },
            new Photo { Id = 3, Title = "Yet another Title", Description = "Some description" }
        };
    }

    class Photo
    {
        public int Id { get; set; }
        public string? Title { get; set; }
        public string? Description { get; set; }
    }
}
