@page "/photos/upload"

@inject IPhotosService photosService
@inject NavigationManager navigationManager

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <PhotoEditComponent Photo="photo" OnSave="Upload"></PhotoEditComponent>
        </div>
    </div>
</div>
@code {
    Photo photo;

    protected override void OnInitialized() {
        photo = new Photo();
    }

    private async Task Upload() {
        await photosService.UploadAsync(photo);
        navigationManager.NavigateTo("/photos/all");
    }
}