@using PhotoSharingApplication.Shared.Core.Entities 

<MatCardContent>
    <EditForm Model="@CommentItem" OnValidSubmit="HandleValidSubmit">
        <p>
            <MatTextField @bind-Value="@CommentItem.Subject" Label="Subject" FullWidth></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value="@CommentItem.Body" Label="Description" TextArea FullWidth></MatTextField>
        </p>
        <p>
            <MatButton Type="submit">Update</MatButton>
            <MatButton OnClick="OnCancel">Cancel</MatButton>
        </p>
    </EditForm>
</MatCardContent>

@code {
    [Parameter]
    public Comment CommentItem { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public EventCallback<Comment> OnSave { get; set; }

    private async Task HandleValidSubmit() {
        await OnSave.InvokeAsync(CommentItem);
    }
}