@using PhotoSharingApplication.Shared.Core.Interfaces
@using PhotoSharingApplication.Shared.Core.Entities
@using PhotoSharingApplication.Shared.Core.Exceptions

@inject ICommentsService CommentsService
@inject NavigationManager navigationManager

<MatH3>Comments</MatH3>

@if (comments == null) {
    <p><em>No Comments for this Photo</em></p>
} else {
    @foreach (var comment in comments) {
        <CommentComponent CommentItem="comment" ViewMode="CommentComponent.ViewModes.Read" OnUpdate="UpdateComment" OnDelete="DeleteComment"></CommentComponent>
    }
    <AuthorizeView>
        <Authorized>
            <CommentComponent CommentItem="new Comment() {PhotoId = PhotoId}" ViewMode="CommentComponent.ViewModes.Create" OnCreate="CreateComment"></CommentComponent>
        </Authorized>
        <NotAuthorized>
            <MatButton Link="authentication/login">Log In to Comment</MatButton>
        </NotAuthorized>
    </AuthorizeView>
}

@code {
    [Parameter]
    public int PhotoId { get; set; }

    private List<Comment> comments;

    protected override async Task OnInitializedAsync() {
        comments = await CommentsService.GetCommentsForPhotoAsync(PhotoId);
    }

    async Task CreateComment(Comment comment) {
        try {
            comments.Add(await CommentsService.CreateAsync(comment));
        } catch (UnauthorizedCreateAttemptException<Comment>) {
            navigationManager.NavigateTo("/forbidden");
        }
    }

    async Task UpdateComment(Comment comment) {
        try {
            comment = await CommentsService.UpdateAsync(comment);
        } catch (UnauthorizedEditAttemptException<Comment>) {
            navigationManager.NavigateTo("/forbidden");
        }
    }

    async Task DeleteComment(Comment comment) {
        try {
            await CommentsService.RemoveAsync(comment.Id);
            comments.Remove(comment);
        } catch (UnauthorizedDeleteAttemptException<Photo>) {
            navigationManager.NavigateTo("/forbidden");
        }
    }
}