@inject IPhotosService photosService
@inject NavigationManager navigationManager
@page "/photos/upload"
@using PhotoSharingApplication.Shared.Exceptions
@attribute [Authorize]

<PageTitle>Upload Photo</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <PhotoEditComponent Photo="photo" OnSave="Upload"></PhotoEditComponent>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <MatButtonLink Href="bff/login">You are not authorized. Log in to upload a picture<MatIcon Icon="@MatIconNames.Account_circle"></MatIcon></MatButtonLink>
    </NotAuthorized>
</AuthorizeView>
@code {
    Photo photo;

    protected override void OnInitialized() {
        photo = new Photo();
        photo.PhotoImage = new PhotoImage();
    }
    private async Task Upload() {
        try {
            await photosService.UploadAsync(photo);
            navigationManager.NavigateTo("/photos/all");
        } catch (CreateUnauthorizedException<Photo>) {
            navigationManager.NavigateTo("/forbidden");
        }
    }
}