@using PhotoSharingApplication.Frontend.Core.Interfaces
@using PhotoSharingApplication.Frontend.Core.Entities
@inject IPhotosService photosService
@inject NavigationManager navigationManager
@page "/photos/upload"

<PageTitle>Upload Photo</PageTitle>

<EditForm Model="@photo" OnValidSubmit="HandleValidSubmit">
    <p>
        <label>
            Title:
            <InputText @bind-Value="photo.Title" />
        </label>
    </p>
    <p>
        <label>
            Description (optional):
            <InputTextArea @bind-Value="photo.Description" />
        </label>
    </p>
    <p>
        <label>
            File:
            <InputFile OnChange="HandleFileSelected" />
        </label>
    </p>
    <p><img src="@(photo.PhotoFile == null ? "" : $"data:{photo.ImageMimeType};base64,{Convert.ToBase64String(photo.PhotoFile)}")" /></p>
    <button type="submit">Submit</button>
</EditForm>

@code {
    Photo photo = new Core.Entities.Photo();

    private async Task HandleValidSubmit() {
        await photosService.UploadAsync(photo);
        navigationManager.NavigateTo("/photos/all");
    }
    private async Task HandleFileSelected(InputFileChangeEventArgs args) {
        photo.ImageMimeType = args.File.ContentType;

        using (var streamReader = new System.IO.MemoryStream()) {
            await args.File.OpenReadStream().CopyToAsync(streamReader);
            photo.PhotoFile = streamReader.ToArray();
        }
    }
}