@page "/photos/update/{id:int}"

@inject IPhotosService photosService
@inject NavigationManager navigationManager

@if (photo == null) {
    <p>...Loading...</p>
} else {
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <PhotoEditComponent Photo="photo" OnSave="Update"></PhotoEditComponent>
            </div>
        </div>
    </div>
}
<p>@message</p>

@code {
    [Parameter]
    public int Id { get; set; }

    Photo photo;

    string message;
    protected override async Task OnInitializedAsync() {
        photo = await photosService.FindAsync(Id);
    }

    private async Task Update() {
        try {
            await photosService.UpdateAsync(photo);
            navigationManager.NavigateTo("/photos/all");
        } catch (PhotoSharingApplication.Shared.Core.Exceptions.UnauthorizedEditAttemptException<Photo>) {
            navigationManager.NavigateTo("/forbidden");
        } catch (Exception ex){
            message = ex.Message;
        }
    }
}
