@if (viewMode == ViewModes.View)
{
    <CommentViewComponent CommentItem="CommentItem" Edit="Edit" Delete="Delete" OnEdit="OnEdit" OnDelete="@(() => viewMode = ViewModes.Delete)"></CommentViewComponent>
}
else if (viewMode == ViewModes.Edit)
{
    <CommentCreateEditComponent CreateMode="false" CommentItem="CommentItem" OnSave="Save" OnCancel="OnEditCancel"></CommentCreateEditComponent>
    <p class="text-danger">@message</p>
}
else if (viewMode == ViewModes.Delete)
{
    <CommentDeleteComponent CommentItem="CommentItem" OnDeleteConfirmed="OnDeleteConfirmed" OnCancel="@(() => viewMode = ViewModes.View)"></CommentDeleteComponent>
}


@code {
    private string message;

    [Parameter]
    public PhotoSharingExamples.Shared.Entities.Comment CommentItem { get; set; }

    [Parameter]
    public bool Edit { get; set; }
    [Parameter]
    public bool Delete { get; set; }

    [Parameter]
    public EventCallback<PhotoSharingExamples.Shared.Entities.Comment> OnSave { get; set; }

    [Parameter]
    public EventCallback<PhotoSharingExamples.Shared.Entities.Comment> OnDeleteConfirmed { get; set; }

    ViewModes viewMode = ViewModes.View;
    private PhotoSharingExamples.Shared.Entities.Comment originalComment;

    protected override void OnInitialized()
    {
        originalComment = new Shared.Entities.Comment(CommentItem.Id,CommentItem.PhotoId, CommentItem.UserName, CommentItem.Subject, CommentItem.Body, CommentItem.SubmittedOn);
    }

    public void OnEditCancel()
    {
        CommentItem.Subject = originalComment.Subject;
        CommentItem.Body = originalComment.Body;

        viewMode = ViewModes.View;
    }

    public void OnEdit()
    {

        viewMode = ViewModes.Edit;
    }

    public async Task Save(PhotoSharingExamples.Shared.Entities.Comment comment)
    {
        try
        {
            await OnSave.InvokeAsync(comment);
            viewMode = ViewModes.View;
        }
        catch (Exception ex)
        {
            message = ex.Message;
        }
    }

    enum ViewModes
    {
        View, Edit, Delete
    }
}