@inherits LayoutComponentBase
<MatThemeProvider Theme="@theme">
    <MatDrawerContainer Style="width: 100vw; height: 100vh;">
        <MatDrawer @bind-Opened="@Opened">
            <NavMenu />
        </MatDrawer>
        <MatDrawerContent>
            <MatAppBarContainer>
                <MatAppBar Fixed="true">
                    <MatAppBarRow>
                        <MatAppBarSection>
                            <MatIconButton Icon="menu" OnClick="ButtonClicked"></MatIconButton>
                            <MatAppBarTitle>Photo Sharing Application</MatAppBarTitle>
                        </MatAppBarSection>
                        <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                            <LoginDisplay />
                        </MatAppBarSection>
                    </MatAppBarRow>
                </MatAppBar>
                <MatAppBarContent>
                    <div class="mat">
                        @Body
                    </div>
                </MatAppBarContent>
            </MatAppBarContainer>
        </MatDrawerContent>
    </MatDrawerContainer>
</MatThemeProvider>
@code
{
    bool Opened = true;

    void ButtonClicked() {
        Opened = !Opened;
    }

    MatTheme theme = new MatTheme() {
        Primary = MatThemeColors.Orange._500.Value,
        Secondary = MatThemeColors.BlueGrey._500.Value
    };
}
