@inject IPhotosService photosService

@page "/photos/all"

<MatH3>AllPhotos</MatH3>

<MatButton Link="photos/upload">Upload new Photo</MatButton>

@if (photos == null) {
    <p class="mat">...Loading...</p>
} else {
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        @foreach (var photo in photos) {
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <PhotoDetailsComponent Photo="photo" Details Edit Delete></PhotoDetailsComponent>
            </div>
        }
    </div>
</div>
}

@code {
    List<Photo> photos;

    protected override async Task OnInitializedAsync() {
        photos = await photosService.GetPhotosAsync();
    }
}
